td{
    border: 2px solid #00c3ff;
    border-radius: 9px;
    text-align: center;
    vertical-align: center;
    font-size: 18pt;
    font-weight: bold;
    height: 70px;
    width: 70px;
    color: #cc00ff;
    background-color: #FBEDDC;
}
p{
    color: white;
    vertical-align: top;
}
body{
    background-color: #d17158;
}
#title{
    color: white;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}
#titleBar{
    margin-left: 320px;
    margin-top: 100px;
    height: 70px;
}
#titlePad{
    width: 148px;
    height: 35px;
    background-color: #ff0077ea;
    margin: 0px;
}
#scorePad{
    width: 148px;
    height: 35px;
    background-color: #6babf3;
    padding: 0px;
    margin: 0px;
}
#scoreType{
    font-size: 14pt;
    margin: 0px;
    color: #0066ff;
}
#score{
    font-size: 28pt;
    margin: 0px;
    color: white;
}
#board{
    margin-left: 320px;
    margin-top: 10px;
}
#info{
    margin-top: 3px;
    margin-left: 82px;
    font-size: 10pt;
    color: white;
}


#startBtn{
    margin: 0%;
    position : absolute;
    height: 30px;
    width: 300px;
    margin-left: 325px;
}
#endBtn{
    margin: 0%;
    position : absolute;
    height: 300px;
    width: 300px;
    margin-left: 325px;
    /* display : none; */
}